/*.a 
*.o 
*.deps/
.deps/ 
.dirstamp 
aclocal.m4 
/scrypt-1.2.1/config.aux/ 
/scrypt-1.2.1/config.h 
/scrypt-1.2.1/config.log 
/scrypt-1.2.1/config.status 
cpusupport-config.h 
stamp-h1 
Makefile 
# Test infrastructure 
# Standard out-of-tree build directory 
build/